<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="hostdomain" value="http://localhost:41606/api/"/>-->
    <add key="hostdomain" value="http://www.diddesnote.somee.com/api/"/>
    <add key="loginset" value="adm//loginset.json"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>